<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <nav class="navbar-inverse">
      <%= link_to 'Home', pages_one_path %>
      <%= link_to 'Page Two', pages_two_path %>
      <%= link_to 'Page Three', pages_three_path %>
    </nav>
    <%= yield %>
  </body>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
